# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment
.env

# Docker
.dockerignore

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Temporary
tmp/
coverage/
