
services:
  backend:
    container_name: payment_gateway_backend
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: payment_gateway_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: payment_gateway_redis
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  mongo_data:
